.alt-section {
  background: #e5eaee;
}

.thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding-bottom: 100px;
  overflow: hidden;
}

.thumb-unit {
  display: block;
  width: 25%;
  float: left;
  margin: 0px;
  position: relative;
  padding-top: 0%;

  background-image: url(../imgs/work-imgs/01.jpg);
  background-color: rgba(82, 59, 105,.8);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .thumb-overlay {
    width: 100%;
    padding-top: 100%;
    background-color: rgba(82, 59, 105,.5);
}
